body {
    background-color: #002740;
    background-image: url("../img/network.jpg");
    backdrop-filter: blur(2px);
  }

  footer{
    background-color:#002740;
    color:#DFE5E6
  }

  h1{
      color:#286C8C;
  }
textarea{
    width:95%;
    display:block;
    line-height:1.5;
    float: left;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #01405D;
    background-color: #002740;
    color:#DFE5E6;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    
}
.process{
    max-width:30%;
}

.offline{
    max-width:30%;
}

.notrecover{
    max-width:30%;
}

label{
    color:#DFE5E6;
}