body {
    background-color: black;
    background-image: url("../img/network.jpg");
    backdrop-filter: blur(6px);
  }

  h1{
      color:#03fc13;
  }
textarea{
    width:95%;
    display:block;
    line-height:1.5;
    float: left;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #03fc13;
    background-color: #0e0c00;
    color:greenyellow;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    
}
.process{
    max-width:30%;
}

.offline{
    max-width:30%;
}

.notrecover{
    max-width:30%;
}

label{
    color:white;
}